<div class="quotation align-{{ align }}">
  <blockquote class="quotation--text">{{ text }}</blockquote>
  <address class="quotation--spoken-by-character">-- {{ spoken_by_character }}</address>
</div>
