/**
 * @file
 * Date styles.
 */

.embedded-entity {
  margin-top: 8px;

  &.align-right,
  &.align-left {
    width: 100%;
  }

  .colon {
    &.align-right,
    &.align-left {
      width: 50%;
    }

    &.align-left {
      padding: 0 20px 2px 0;
    }

    &.align-right {
      padding: 0 0 2px 20px;
    }
  }

  &.align-center {
    display: flex;
    margin: 0;

    article {
      display: block;
      margin: 8px auto;
    }
  }

  img {
    width: 100%;
  }

  h4, img {
    margin-bottom: 5px;
  }

  .by-line {
    color: black;
    font-size: 14px;
  }

}
