/**
 * @file
 * Page title styles.
*/

.page-title {
  font-family: var(--font-heading);
  font-size: var(--size-14);
  font-weight: var(--font-weight-700);
  line-height: var(--size-16);
  margin-block-end: var(--size-9);
}

