{{ attach_library('leaflet_full_page/custom_leaflet') }}

{%
  set classes = [
  'view',
  'view--' ~ id|clean_class,
  'view--display-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
]
%}

<div {{ attributes.addClass(classes) }}>
  <div class="leaflet">
    {% if rows %}
      {{ rows }}
    {% endif %}
  </div>
</div>
