/**
 * @file
 * Quote styles.
 */

.quote__container {
  margin-inline: auto;
  padding: var(--size-5);
  width: 100%;

  @media (--tablet) {
    max-inline-size: var(--size-tablet);
    padding: var(--size-10);
  }

  @media (--laptop) {
    max-inline-size: var(--size-laptop);
  }

  @media (--desktop) {
    max-inline-size: var(--size-desktop);
  }

  .layout--onecol & {
    @media (--tablet) {
      margin-inline: auto;
      max-inline-size: var(--size-tablet);
    }

    @media (--laptop) {
      max-inline-size: var(--size-laptop);
      padding: var(--size-4);
    }

    @media (--desktop) {
      max-inline-size: calc(var(--size-container) - var(--size-4) * 2);
    }
  }
}

.quote__wrapper {
  @media (--laptop) {
    margin-inline: auto;
    max-width: 85ch;
    padding-block: var(--size-6);
    padding-inline: var(--size-8);

    .layout--onecol & {
      max-width: 100%;
    }
  }

  blockquote {
    border-left-color: var(--blue-700);
    border-left-width: var(--size-2);
    color: var(--blue-700);
    font-size: var(--font-size-4);
    font-style: italic;
    font-weight: var(--font-weight-600);
    margin-block: var(--size-8);
    padding-block: var(--size-4);
    padding-inline-start: var(--size-6);
    quotes: "\201C""\201D""\2018""\2019";

    :where(p) {
      &:first-of-type {
        margin-block-end: var(--size-4);

        &::after {
          content: close-quote;
        }

        &::before {
          content: open-quote;
        }
      }
    }

    :where(em) {
      font-size: var(--font-size-2);
      font-style: normal;
      font-weight: var(--font-weight-400);
    }
  }
}
