/**
 * @file
 * Main menu styling.
 */

.menu-main-nav {
  /* Your styles here */
  li {
    margin-inline-start: 5px;
  }
}

.menu-main,
.menu-main h1 {
  /* Menu link level one */
  font-family: var(--font-heading);
}

.menu-main {
  /* Menu link level one */
  font-weight: var(--font-weight-500);

  .menu__item--level-1, .menu__item--level-1 h1 {
    font-size: var(--font-size-4);
    line-height: var(--leading-tight);
    position: relative;
    text-decoration: none;

    @media (--mobile-large) {
      font-size: var(--font-size-2);
      line-height: var(--leading-normal);

      .menu-toggle {
        display: none;
      }
    }

    &:hover {
      /*@media (--mobile-large) {*/

      /*}*/
      .menu__link-inner {
        &::after {
          transform: scaleX(1);
        }
      }
    }

    &:focus {
      @media (--mobile-large) {
        outline: 0;
        position: relative;
      }

      &::before {
        @media (--mobile-large) {
          block-size: 54px;
          border-radius: 0.25rem;
          content: "";
          inline-size: calc(100% + 1.125rem);
          inset-block-start: 50%;
          inset-inline-start: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
        }
      }
    }

    &.menu__item {
      padding-inline: 5px;
    }

    &.menu__item--active-trail,
    &.menu__item:hover {
      background: #8BB18E;
    }

    .menu__link--active-trail,
    .menu__link:hover {
      /*text-decoration: underline;*/
      /*color: #666;*/
    }

    .menu__link {
      padding-inline: 10px;
    }

    .menu__link-inner {
      align-items: center;
      display: inline-flex;
      padding-block: var(--size-2);
      position: relative;

      @media (--mobile-large) {
        padding-block: var(--size-5);
        padding-inline: 0;
      }

      &::after {
        @media (--mobile-large) {
          block-size: 0;
          border-block-start: 2px solid var(--op-blue);
          content: "";
          inline-size: 100%;
          inset-block-end: 0;
          inset-inline-start: 0;
          position: absolute;
          transform: scaleX(0);
          transform-origin: center;
          transition: transform 0.2s;
        }
      }
    }
  }

  /* Menu link level two */
  .menu__link--level-2 {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-400);
    text-decoration: none;

    @media (--mobile-large) {
      font-size: var(--font-size-1);
    }
  }

  /* Menu link level three */
  .menu__link--level-3 {
    color: var(--gray-700);
    font-size: var(--font-size-0);
    font-weight: var(--font-weight-400);
    text-decoration: none;

    /*&:hover {*/
    /*  @media (--mobile-large) {*/

    /*  }*/
    /*}*/

    &.is-active {
      font-weight: var(--font-weight-700);
    }
  }
}

/* Menu Level 1 */
.menu-main--level-1 {
  inline-size: 100%;
  margin-block-end: var(--size-4);

  @media (--mobile-large) {
    align-items: stretch;
    display: flex;
    margin-block-end: 0;
  }

  /* Disable underline on items with children */
  .menu__link--has-children {
    .menu__link-inner--level-1 {
      &::after {
        @media (--mobile-large) {
          content: none;
        }
      }
    }
  }
}

/* Menu Level 2 */
.menu-main--level-2 {
  display: block;
  inline-size: 100%;
  max-block-size: 0;
  opacity: 0%;
  overflow: hidden;
  padding-block-end: var(--size-4);
  padding-inline-start: var(--size-6);
  transition: opacity 0.2s, visibility 0.2s, max-block-size 0.2s;
  visibility: hidden;

  @media (--mobile-large) {
    background: var(--white);
    flex-basis: 100%;
    inset-inline-start: 50%;
    max-block-size: calc(100vh - 7.875rem);
    opacity: 0;
    position: absolute;
    transition: visibility 0.2s, transform 0.2s, opacity 0.2s;
    visibility: hidden;

    /* Show dropdown menu */
    background-color: var(--white);
    border-radius: var(--radius-4);
    border-top: var(--size-2) solid #205B4D;
    box-shadow: var(--shadow-3);
    color: #205B4D;
    display: flex;
    flex-direction: column;
    padding-block: var(--size-4);
    padding-inline: var(--size-4);
    transform: translate(-50%, 0);
    inset-block-start: 19px;
  }

  &.is-active-menu-parent {
    max-block-size: none;
    opacity: 100%;
    visibility: visible;

    @media (--mobile-large) {
      opacity: 100%;
      transform: translate(-50%, 0);
      visibility: visible;
    }
  }
}

/* Default menu */
.menu-main--default {
  .menu__item {
    margin-block-end: var(--size-2);

    @media (--mobile-large) {
      inline-size: max-content;
      margin-block-end: 0;
      margin-inline-end: var(--size-5);
    }

    &:last-child {
      @media (--mobile-large) {
        margin-inline-end: 0;
      }
    }
  }

  .menu__link {
    display: flex;
  }
}

/* Dropdown menu */
.menu-main--dropdown {
  &.menu-main--level-1 {
    .menu__item {
      display: flex;
      flex-basis: 100%;
      flex-wrap: wrap;
      position: relative;

      @media (--mobile-large) {
        align-items: center;
        flex-basis: auto;
        flex-wrap: nowrap;
        inline-size: max-content;
        margin-block-end: 0;
        margin-inline-end: var(--size-5);
      }

      &:last-child {
        @media (--mobile-large) {
          margin-inline-end: 0;
        }
      }
    }

    .menu__link {
      display: flex;
      flex-basis: auto;
      flex-grow: 1;
    }
  }

  /* Second level menu */
  .menu-main--level-2 {
    @media (--mobile-large) {
      border-radius: var(--radius-2);
      display: flex;
      flex-wrap: wrap;
      inline-size: 110px;
    }

    .menu__item {
      display: block;
      inline-size: 100%;
      margin-inline-end: 0;
    }

    .menu__link {
      @media (--mobile-large) {
        border-radius: var(--radius-2);
        padding: 0;
      }

      &:hover {
        @media (--mobile-large) {
          background-color: var(--santa-barbara-sand);
        }
      }
    }

    .menu__link-inner {
      display: block;
      padding-block: 0;

      @media (--mobile-large) {
        padding-block: 0;
      }
    }

    .menu__link {
      display: block;
      padding-block: 0;
    }
  }
}
