parameters:
  level: 6

  # Level 6 throws an error when extending an generic class without adding
  # special docblock comments.  That's common in Drupal so let's disable
  # these notices.
  # @see https://phpstan.org/blog/generics-in-php-using-phpdocs#class-level-generics
  checkGenericClassInNonGenericObjectType: false

  # We inherit Drupal methods and hooks that don't specify iterable types
  # on arrays.
  checkMissingIterableValueType: false

  # If an ignored error is not matched, that's fine.
  reportUnmatchedIgnoredErrors: false
