{# Creates a relative path to the page's image to ensure it works on
any site this page is used on.
source: https://mariohernandez.io/blog/drupal-base-path/ #}
{% set base_url = url('<front>')|render %}
{% set img_path = directory ~ '/dist/images/bruin-bear-dgsom.png' %}
{% set img_src = base_url ~ img_path %}

{# Minor style to change the order of the content containers to ensure that
on mobile, the text of the page displays before the image (mobile first).
On tablet and larger, the page's content order will display as expected. #}
<style>
@media screen and (min-width: 768px) {
  .layout__region--first {
    order: -1;
  }
}
</style>

{{ page.header }}

{# Adds twig block for `about` attribute to be able to change url when this
template is extended for the 403 page. Trim is needed to remove empty spaces. #}
<article class="page page--full" about="{% block about %}{{ '/page-not-found'|trim }}{% endblock %}">
  <header class="page-header ">
    <div class="container">
      <div class="page-header__content">
        <nav class="breadcrumb" aria-labelledby="system-breadcrumb" role="navigation">
          <div id="surface-breadcrumb" class="visually-hidden">Breadcrumb</div>
          <ol class="breadcrumb__list">
            <li class="breadcrumb__item">
              <a href="/" class="breadcrumb__link" style="display:block;width:16px;height:16px;">
                {# Embedding the site's home icon as part of breadcrumb. #}
                <span class="fa-solid fa-house"></span>
                <span class="visually-hidden">Home</span>
              </a>
            </li>
          </ol>
        </nav>
        <div class="page-header__text">
          {% block page_title %}
            <h1><span>We Can't Find This Page</span></h1>
          {% endblock %}
          <p>Let’s not point any fingers but something went wrong here. Please bear with us.</p>
        </div>
      </div>
    </div>
  </header>

  <div class="page__main">
    <div class="container">
      <div class="layout layout--twocol-70-30">
        <div class="layout__region layout__region--second">
          <div class="text prose">
            <h2>Oops!&nbsp;</h2>
            <hr>
            <p>A couple of things could be happening:</p>
            <ul>
              <li>The link to this page is incorrect</li>
              <li>The page has been moved</li>
              <li>The page may have been deleted altogether</li>
            </ul>
            <p>Try a quick search to find what you are looking for.</p>
            <p>If you need further assistance please let us know, and we'd be happy to help!</p>
            <p><a class="button button--primary" href="https://uclahs.az1.qualtrics.com/jfe/form/SV_cCu6gcOCI3rCNtI" target="_blank" rel="noopener nofollow noreferrer">Submit a ticket</a></p>
          </div>
        </div>

        <div class="layout__region layout__region--first">
          {# Using the dynamic/relative path created above. #}
          <img src="{{ img_src }}" alt="An illustration of a bruin bear chewing on wires." width="1200" height="800" loading="lazy">
        </div>
      </div>
    </div>
  </div>
</article>

{{ page.footer }}
