{{ attach_library('surface/accountability-section') }}

{% embed "@layouts/section/section.twig" with {
  section_class: 'accountability-section section-theme--light',
  inner_class: 'accountability-section__inner',
  'id': id,
  attributes: attributes,
  modifier: modifier
} %}
  {% block content %}
    {% if section_label %}
      {% include "@elements/section-label/section-label.twig" with {
        text: section_label,
        class: 'accountability-section__label'
      } only %}
    {% endif %}
    {% if section_headline %}
      {% include "@elements/section-headline/section-headline.twig" with {
        text: section_headline,
        class: 'accountability-section__headline'
      } only %}
    {% endif %}
    {% if body_text %}
      <div class="accountability-section__body-main">{{ body_text|raw }}</div>
    {% endif %}

    {% if accountability_cards %}
      <div class="accountability-section__grid">
        {% for card in accountability_cards %}
          {% include "@components/card-item/card-item.twig" with {
            variant: 'pillar',
            icon: card.icon,
            title: card.headline,
            body: card.body ~ (card.cta ? '<div class="accountability-section__card-action"><a href="' ~ card.cta.url ~ '" class="accountability-section__card-link">' ~ card.cta.title ~ '</a></div>' : '')
          } only %}
        {% endfor %}
      </div>
    {% endif %}
  {% endblock %}
{% endembed %}
