/**
 * @file
 * Media styles.
 */

.media--type-sf-video-media-type {
  block-size: 0;
  padding-block-end: 56.34%;
  position: relative;

  iframe {
    block-size: 100%;
    inline-size: 100%;
    inset-block-start: 0;
    inset-inline-start: 0;
    margin-block-end: 0;
    position: absolute;
  }
}
