{{ attach_library('surface/site-footer') }}

<footer class="site-footer">
  <div class="container l-constrain">
    <div class="site-footer__content grid">
      <div class="site-footer__branding">

      </div>
    </div>
  </div>
</footer>
