/**
 * @file
 * Node specific styles.
 */

.node {
  margin: 0;
  width: 100%;
}

.node__meta {
  align-items: center;
  color: var(--gray-700);
  display: flex;
  font-size: 14px;
  line-height: var(--size-4);
  margin-block-end: var(--size-4);

  & a {
    font-weight: bold;
  }

  @media (--mobile) {
    margin-block-end: var(--size-8);
  }
}

.node__author-image img {
  border-radius: 50%;
  height: var(--size-10);
  margin-inline-end: var(--size-2);
  object-fit: cover;
  width: var(--size-10);
}

.node__title {
  color: var(--white);
  font-size: var(--font-size-10);

  & a {
    background-color: transparent;
    background-image: linear-gradient(var(--blue-500), var(--blue-500));
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 0 3px;
    color: var(--gray-900);
    padding-block-end: 3px;
    text-decoration: none;
    transition: background-size 0.2s, color 0.2s;

    &:hover,
    &:focus {
      color: var(--blue-700);
    }
  }
}

.node__content {
  padding-block: var(--size-8);

  @media (--laptop) {
    padding-block-end: var(--size-12);
  }
}

.node__inner,
.page-node-type-about-page .block-page-title-block {
  margin-inline: auto;
  max-inline-size: var(--section-max-width, 1100px);
  padding-inline: var(--size-4);
  width: 100%;

  @media (width <= 768px) {
    padding-inline: 1.5rem;
  }
}

.prose__wrapper,
.page-node-type-about-page .block-page-title-block h1 {
  margin-inline: auto;
  max-width: var(--size-tablet);

  p {
    margin-block: var(--size-6);
    margin-inline: 0;
    max-width: 100%;
    text-wrap: pretty;
  }

  p:first-child {
    margin-block-start: 0;
  }
}

.node--type-about-page .node__content {
  padding-block-start: 0;
}

/*.node--type-about-page .node__inner {*/
/*  padding-inline: 0;*/

/*  .prose__wrapper {*/
/*    margin-inline: 0;*/
/*  }*/
/*}*/

.node--view-mode-full {
  background: var(--grey-200);

  .node__title {
    color: var(--gray-900);
  }

  .date-badge--event {
    background: var(--section-card-bg, rgba(255, 255, 255, 45%));
    border: 1px solid var(--section-border, rgba(0, 0, 0, 10%));
    block-size: var(--size-20);
    inline-size: var(--size-20);
    border-radius: 3px;

    .date-badge__month {
      color: var(--pine);
    }

    .date-badge__day {
      color: var(--forest);
    }
  }

  ul {
    color: var(--black);
  }

  .meeting-meta a {
    font-weight: bold;
    text-decoration: underline;
  }
}
