{{ attach_library('surface/site-navigation') }}
<nav id="site-navigation" class="site-navigation" data-drupal-selector="site-navigation">
  <div class="site-navigation-container">
    {% block menu %}
      {% include '@components/menu-main/menu-main.twig' with {
        'data_menu': data_menu,
        'is_demo': is_demo,
        'items': items
      } %}
    {% endblock %}
  </div>
</nav>
