
{% embed "@layouts/site-container/site-container.twig" %}
  {% block header %}
    {% include "@layouts/site-header/site-header.twig" with header_data|default({}) %}
  {% endblock %}

  {% block main %}
    <div class="page-layout__content">
      {% if hero_data %}
        {% include "@collections/hero-section/hero-section.twig" with hero_data %}
      {% endif %}

      {% if issue_data %}
        {% include "@collections/issue-section/issue-section.twig" with issue_data %}
      {% endif %}

      {% if stakes_data %}
        {% include "@collections/stakes-section/stakes-section.twig" with stakes_data %}
      {% endif %}

      {% if positions_data %}
        {% include "@collections/positions-section/positions-section.twig" with positions_data %}
      {% endif %}

      {% if accountability_data %}
        {% include "@collections/accountability-section/accountability-section.twig" with accountability_data %}
      {% endif %}

      {% if myth_data %}
        {% include "@collections/myth-section/myth-section.twig" with myth_data %}
      {% endif %}

      {% if voices_data %}
        {% include "@collections/voices-section/voices-section.twig" with voices_data %}
      {% endif %}

      {% if action_data %}
        {% include "@collections/action-section/action-section.twig" with action_data %}
      {% endif %}
    </div>
  {% endblock %}

  {% block footer %}
    {% include "@layouts/site-footer/site-footer.twig" with footer_data|default({}) %}
  {% endblock %}
{% endembed %}
