{{ attach_library('surface/site-header') }}

<header id="header" class="site-header" data-drupal-selector="site-header" role="banner" data-once="navigation">
  <div class="container site-header__container">
    <div class="site-branding">
      <a href="#" class="site-header__logo">Our<span>Kids</span>Our<span>Schools</span>VT</a>
    </div>
    <nav class="site-navigation" role="navigation" aria-label="Main navigation">
      {% block menu %}
        {% include '@components/menu-main/menu-main.twig' with {
          'data_menu': data_menu,
          'is_demo': is_demo,
          'items': items
        } only %}
      {% endblock %}
    </nav>
  </div>
</header>
