<div tabindex="-1" role="dialog" class="ui-dialog ui-corner-all ui-widget ui-widget-content ui-front media-library-widget-modal ui-dialog--narrow ui-dialog-buttons" aria-describedby="drupal-modal" aria-labelledby="ui-id-4">
	<div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix">
		<span id="ui-id-4" class="ui-dialog-title">Add or select media</span>
		<button type="button" class="ui-button ui-corner-all ui-widget ui-button-icon-only ui-dialog-titlebar-close" title="Close">
			<span class="ui-button-icon ui-icon ui-icon-closethick"></span>
			<span class="ui-button-icon-space"></span>Close</button>
	</div>
	<div id="drupal-modal" class="ui-front ui-dialog-content ui-widget-content" style="width: auto; min-height: 0px; max-height: none; height: 449px;">
		<div id="media-library-wrapper" class="media-library-wrapper">
			<ul class="media-library-menu js-media-library-menu">
				<li class="media-library-menu__item">
					<a href="/media-library?media_library_opener_id=media_library.opener.editor&amp;media_library_allowed_types%5Bsf_audio_media_type%5D=sf_audio_media_type&amp;media_library_allowed_types%5Bsf_document_media_type%5D=sf_document_media_type&amp;media_library_allowed_types%5Bsf_image_media_type%5D=sf_image_media_type&amp;media_library_allowed_types%5Bsf_video_media_type%5D=sf_video_media_type&amp;media_library_selected_type=sf_audio_media_type&amp;media_library_remaining=1&amp;media_library_opener_parameters%5Bfilter_format_id%5D=surface_testing&amp;hash=nu63IaqIjAIA6UFg56mLw6nUeW3-12nXZjvTyi-YOPI&amp;media_library_content=1" role="button" data-title="Audio" class="active" data-once="media-library-menu-item">
						<span class="visually-hidden">Show
						</span>Audio<span class="visually-hidden">
							media</span>
						<span class="active-tab visually-hidden">
							(selected)</span>
					</a>
				</li>
				<li class="media-library-menu__item">
					<a href="/media-library?media_library_opener_id=media_library.opener.editor&amp;media_library_allowed_types%5Bsf_audio_media_type%5D=sf_audio_media_type&amp;media_library_allowed_types%5Bsf_document_media_type%5D=sf_document_media_type&amp;media_library_allowed_types%5Bsf_image_media_type%5D=sf_image_media_type&amp;media_library_allowed_types%5Bsf_video_media_type%5D=sf_video_media_type&amp;media_library_selected_type=sf_document_media_type&amp;media_library_remaining=1&amp;media_library_opener_parameters%5Bfilter_format_id%5D=surface_testing&amp;hash=XoyKe45Ksq1KGa1FEHPb-UzgzRgih_bpGPGK4u8LJ8g&amp;media_library_content=1" role="button" data-title="Document" data-once="media-library-menu-item">
						<span class="visually-hidden">Show
						</span>Document<span class="visually-hidden">
							media</span>
					</a>
				</li>
				<li class="media-library-menu__item">
					<a href="/media-library?media_library_opener_id=media_library.opener.editor&amp;media_library_allowed_types%5Bsf_audio_media_type%5D=sf_audio_media_type&amp;media_library_allowed_types%5Bsf_document_media_type%5D=sf_document_media_type&amp;media_library_allowed_types%5Bsf_image_media_type%5D=sf_image_media_type&amp;media_library_allowed_types%5Bsf_video_media_type%5D=sf_video_media_type&amp;media_library_selected_type=sf_image_media_type&amp;media_library_remaining=1&amp;media_library_opener_parameters%5Bfilter_format_id%5D=surface_testing&amp;hash=mR6YYoaDMP2y0XpoPSUWNIJicmX0iw8b1zuJM4q3ZIA&amp;media_library_content=1" role="button" data-title="Image" data-once="media-library-menu-item">
						<span class="visually-hidden">Show
						</span>Image<span class="visually-hidden">
							media</span>
					</a>
				</li>
				<li class="media-library-menu__item">
					<a href="/media-library?media_library_opener_id=media_library.opener.editor&amp;media_library_allowed_types%5Bsf_audio_media_type%5D=sf_audio_media_type&amp;media_library_allowed_types%5Bsf_document_media_type%5D=sf_document_media_type&amp;media_library_allowed_types%5Bsf_image_media_type%5D=sf_image_media_type&amp;media_library_allowed_types%5Bsf_video_media_type%5D=sf_video_media_type&amp;media_library_selected_type=sf_video_media_type&amp;media_library_remaining=1&amp;media_library_opener_parameters%5Bfilter_format_id%5D=surface_testing&amp;hash=3tbeFfcg8HF8iPjDAlzmS5IkmxIlMo2YzJIuXruUbxA&amp;media_library_content=1" role="button" data-title="Video" data-once="media-library-menu-item">
						<span class="visually-hidden">Show
						</span>Video<span class="visually-hidden">
							media</span>
					</a>
				</li>
			</ul>
			<div id="media-library-content" class="media-library-content">
				<div id="media-library-add-form-wrapper">
					<form class="js-media-library-add-form media-library-add-form media-library-add-form--without-input media-library-add-form--upload" data-drupal-selector="media-library-add-form-upload-kkqjivnedei" enctype="multipart/form-data" action="/media-library?media_library_opener_id=media_library.opener.editor&amp;media_library_allowed_types%5Bsf_audio_media_type%5D=sf_audio_media_type&amp;media_library_allowed_types%5Bsf_document_media_type%5D=sf_document_media_type&amp;media_library_allowed_types%5Bsf_image_media_type%5D=sf_image_media_type&amp;media_library_allowed_types%5Bsf_video_media_type%5D=sf_video_media_type&amp;media_library_selected_type=sf_audio_media_type&amp;media_library_remaining=1&amp;media_library_opener_parameters%5Bfilter_format_id%5D=surface_testing&amp;hash=nu63IaqIjAIA6UFg56mLw6nUeW3-12nXZjvTyi-YOPI&amp;_wrapper_format=drupal_modal" method="post" id="media-library-add-form-upload--KkQJIvneDeI" accept-charset="UTF-8" data-once="form-updated" data-drupal-form-fields="edit-upload-upload--xUUWda1hlTY,edit-upload-upload-button--tfk9jIlRwJo">
						<div class="media-library-add-form__input-wrapper js-form-wrapper form-wrapper" data-drupal-selector="edit-container" id="edit-container--boCq5-9Shuc">
							<div id="ajax-wrapper--kN2lNT4bF3M">
								<div class="js-form-item form-item js-form-type-managed-file form-type--managed-file  js-form-item-upload form-item--upload">
									<label class="form-item__label" for="edit-upload-upload--xUUWda1hlTY" id="edit-upload--XbvJ5x0uOnA--label">Add file</label>
									<div id="edit-upload--XbvJ5x0uOnA" class="js-form-managed-file form-managed-file is-single has-upload no-value no-meta">
										<div class="form-managed-file__main">
											<input class="js-form-file form-file form-element form-element--type-file form-element--api-file" data-drupal-selector="edit-upload-upload-xuuwda1hlty" type="file" id="edit-upload-upload--xUUWda1hlTY" name="files[upload]" size="22" data-once="fileValidate auto-file-upload">
											<input class="js-hide button js-form-submit form-submit" data-drupal-selector="edit-upload-upload-button" formnovalidate="formnovalidate" type="submit" id="edit-upload-upload-button--tfk9jIlRwJo" name="upload_upload_button" value="Upload" data-once="drupal-ajax">
										</div>
										<input class="" data-drupal-selector="edit-upload-fids" type="hidden" name="upload[fids]">
									</div>
									<div class="form-item__description  form-item__description" id="edit-upload--XbvJ5x0uOnA--description">
										One file only.<br>4 MB limit.<br>Allowed types: mp3 wav aac.
									</div>
								</div>
							</div>
						</div>
						<input class="js-media-library-add-form-current-selection" data-drupal-selector="edit-current-selection" type="hidden" name="current_selection" value="">
						<input class="" autocomplete="off" data-drupal-selector="form-ah4d0p1nlknvl8gbmsfk7gttntg8ysavpz8hzqtils0" type="hidden" name="form_build_id" value="form-aH4D0p1NLkNVL8gBmSfK7GTtNTg8YsAvpZ8HZQTIls0">
						<input class="" data-drupal-selector="edit-media-library-add-form-upload-form-token-mwpskvhdfiu" type="hidden" name="form_token" value="cFeR0yy4Z_GGBkmPcdO5nJMdvqUEN3qS23iLeBbsBQM">
						<input class="" data-drupal-selector="edit-media-library-add-form-upload-ztchhmx5gpa" type="hidden" name="form_id" value="media_library_add_form_upload">
					</form>
				</div>
				<div class="views-element-container" id="media-library-view">
					<div class="js-media-library-view media-library-view media-library-view--widget view view-media-library view-id-media_library view-display-id-widget js-view-dom-id-62254642a494844126a44510b5d4164e91811feb3b5f54b52eee90208088acb0" data-view-display-id="widget" data-once="ajax-pager">
						<div class="view-filters">
							<form class="views-exposed-form" aria-label="Filter the contents of the Media view" data-drupal-selector="views-exposed-form-media-library-widget" action="/admin/content/media-widget/sf_audio_media_type" method="get" id="views-exposed-form-media-library-widget" accept-charset="UTF-8" data-once="form-updated exposed-form" data-drupal-form-fields="edit-name--bOGoCRnrvnA,edit-sort-by--z7F3hqWOJeo">
								<div class="js-form-item form-item js-form-type-textfield form-type--textfield  js-form-item-name form-item--name">
									<label class="form-item__label" for="edit-name--bOGoCRnrvnA">Name</label>
									<input class="form-text form-element form-element--type-text form-element--api-textfield" data-drupal-selector="edit-name" type="text" id="edit-name--bOGoCRnrvnA" name="name" value="" size="30" maxlength="128">
								</div>
								<div class="js-form-item form-item js-form-type-select form-type--select  js-form-item-sort-by form-item--sort-by">
									<label class="form-item__label" for="edit-sort-by--z7F3hqWOJeo">Sort by</label>
									<select data-drupal-selector="edit-sort-by" id="edit-sort-by--z7F3hqWOJeo" name="sort_by" class="form-select form-element form-element--type-select">
										<option value="created" selected="selected">Newest first</option>
										<option value="name">Name (A-Z)</option>
										<option value="name_1">Name (Z-A)</option>
									</select>
								</div>
								<div data-drupal-selector="edit-actions" class="js-form-wrapper form-wrapper" id="edit-actions--I3-_odXRc8k">
									<input class="button js-form-submit form-submit" data-drupal-selector="edit-submit-media-library-svscoq3zueg" type="submit" id="edit-submit-media-library--sVsCoQ3zUEg" value="Apply filters">
								</div>
							</form>
						</div>
						<div class="view-header">
							<a href="/admin/content/media-widget/sf_audio_media_type?media_library_opener_id=media_library.opener.editor&amp;media_library_allowed_types%5Bsf_audio_media_type%5D=sf_audio_media_type&amp;media_library_allowed_types%5Bsf_document_media_type%5D=sf_document_media_type&amp;media_library_allowed_types%5Bsf_image_media_type%5D=sf_image_media_type&amp;media_library_allowed_types%5Bsf_video_media_type%5D=sf_video_media_type&amp;media_library_selected_type=sf_audio_media_type&amp;media_library_remaining=1&amp;media_library_opener_parameters%5Bfilter_format_id%5D=surface_testing&amp;hash=nu63IaqIjAIA6UFg56mLw6nUeW3-12nXZjvTyi-YOPI" class="views-display-link views-display-link-widget is-active" data-once="media-library-views-display-link">Grid</a>
							<a href="/admin/content/media-widget-table/sf_audio_media_type?media_library_opener_id=media_library.opener.editor&amp;media_library_allowed_types%5Bsf_audio_media_type%5D=sf_audio_media_type&amp;media_library_allowed_types%5Bsf_document_media_type%5D=sf_document_media_type&amp;media_library_allowed_types%5Bsf_image_media_type%5D=sf_image_media_type&amp;media_library_allowed_types%5Bsf_video_media_type%5D=sf_video_media_type&amp;media_library_selected_type=sf_audio_media_type&amp;media_library_remaining=1&amp;media_library_opener_parameters%5Bfilter_format_id%5D=surface_testing&amp;hash=nu63IaqIjAIA6UFg56mLw6nUeW3-12nXZjvTyi-YOPI" class="views-display-link views-display-link-widget_table" data-once="media-library-views-display-link">Table</a>
						</div>
						<div class="view-content">
							<div class="views-form">
								<form class="js-media-library-views-form media-library-views-form" data-drupal-media-type="sf_audio_media_type" data-drupal-selector="views-form-media-library-widget-sf-audio-media-type-vzt14kqxqkm" action="/admin/content/media-widget/sf_audio_media_type?media_library_opener_id=media_library.opener.editor&amp;media_library_allowed_types%5Bsf_audio_media_type%5D=sf_audio_media_type&amp;media_library_allowed_types%5Bsf_document_media_type%5D=sf_document_media_type&amp;media_library_allowed_types%5Bsf_image_media_type%5D=sf_image_media_type&amp;media_library_allowed_types%5Bsf_video_media_type%5D=sf_video_media_type&amp;media_library_selected_type=sf_audio_media_type&amp;media_library_remaining=1&amp;media_library_opener_parameters%5Bfilter_format_id%5D=surface_testing&amp;hash=nu63IaqIjAIA6UFg56mLw6nUeW3-12nXZjvTyi-YOPI&amp;_wrapper_format=drupal_modal" method="post" id="views-form-media-library-widget-sf-audio-media-type--Vzt14kqxQkM" accept-charset="UTF-8" data-once="form-updated" data-drupal-form-fields="edit-media-library-select-form-0--3o2ko8DNij4,media-library-modal-selection,edit-submit--Nv6tJ0huxrs">
									<div class="media-library-views-form__rows">
										<div class="js-media-library-item js-click-to-select views-row media-library-item media-library-item--grid">
											<div class="views-field views-field-media-library-select-form js-click-to-select-checkbox media-library-item__click-to-select-checkbox" data-once="media-library-click-to-select-hover">
												<span class="field-content">
													<div class="js-form-item form-item js-form-type-checkbox form-type--checkbox form-type--boolean js-form-item-media-library-select-form-0 form-item--media-library-select-form-0 form-item--no-label   form-type-boolean">
														<label class="form-item__label  visually-hidden" for="edit-media-library-select-form-0--3o2ko8DNij4">Select DGSOM.wav</label>
														<input data-drupal-selector="edit-media-library-select-form-0" type="checkbox" id="edit-media-library-select-form-0--3o2ko8DNij4" name="media_library_select_form[0]" value="1856" class="form-checkbox form-boolean form-boolean--type-checkbox" data-once="media-library-click-to-select media-item-change">
														<span class="checkbox-toggle">
															<span class="checkbox-toggle__inner"></span>
														</span>
													</div>
												</span>
											</div>
											<div class="views-field views-field-rendered-entity js-click-to-select-trigger media-library-item__click-to-select-trigger" data-once="media-library-click-to-select media-library-click-to-select-hover">
												<span class="field-content media-library-item__content">
													<article class="contextual-region media-library-item__preview-wrapper">
														<div class="media-library-item__preview js-media-library-item-preview">
															<div class="field field--name-thumbnail field--type-image field--label-hidden field__item">
																<img loading="lazy" src="/sites/oketem206/files/styles/medium/public/media-icons/generic/audio.png?itok=QXVofqXT" width="180" height="180" alt="" typeof="foaf:Image" class="image-style-medium">
															</div>
															<div class="field field--name-field-media-audio-file field--type-file field--label-hidden field__item">
																<audio controls="controls">
																	<source src="/sites/oketem206/files/media/audio/DGSOM.wav" type="audio/x-wav">
																</audio>
															</div>
														</div>
														<div class="media-library-item__attributes">
															<div class="media-library-item__name">
																DGSOM.wav
															</div>
														</div>
													</article>
												</span>
											</div>
										</div>
									</div>
									<input class="" id="media-library-modal-selection" data-drupal-selector="edit-media-library-select-form-selection" type="hidden" name="media_library_select_form_selection" value="" data-once="media-library-selection-change">
									<input class="" autocomplete="off" data-drupal-selector="form-l4cvpqh-ad1kv1wkqepkogyysubbded-br4dnzz18f8" type="hidden" name="form_build_id" value="form-l4CVpQh_Ad1kV1WkqEPKOgyysuBbDEd_br4DNzZ18F8">
									<input class="" data-drupal-selector="edit-views-form-media-library-widget-sf-audio-media-type-form-token-eay5nnu0pz8" type="hidden" name="form_token" value="XFvqjMlQ8Bl_-CTq5MVaCEPMMf1Mnuqjp8TQ8gx4790">
									<input class="" data-drupal-selector="edit-views-form-media-library-widget-sf-audio-media-type-qe23xvkkudi" type="hidden" name="form_id" value="views_form_media_library_widget_sf_audio_media_type">
									<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions--Zvg_RTaIBWA">
										<input class="media-library-select button button--primary js-form-submit form-submit" data-drupal-selector="edit-submit" data-disable-refocus="true" type="submit" id="edit-submit--Nv6tJ0huxrs" name="op" value="Insert selected" data-once="drupal-ajax" style="display: none;">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		<div class="ui-dialog-buttonset form-actions">
			<button type="button" class="media-library-select button button--primary js-form-submit form-submit ui-button ui-corner-all ui-widget">Insert selected</button>
		</div>
		<div class="media-library-selected-count js-media-library-selected-count" role="status" aria-live="polite" aria-atomic="true">0 of 1 item selected</div>
	</div>
</div>
