/**
 * @file
 * Glide styles.
 */

.glide {
  margin-inline: auto;
  max-inline-size: var(--size-container);
  width: 100%;

  .is-full-width & {
    max-inline-size: 100%;
  }
}

.glide__arrow {
  display: none;

  @media (--tablet) {
    --size: 50px;
    --top: 25%;
    background-color: var(--blue-700);
    color: var(--white);
    cursor: pointer;
    display: grid;
    height: var(--size);
    place-content: center;
    position: absolute;
    top: var(--top);
    transform: translateY(calc(var(--top) * -1));
    width: var(--size);
    z-index: 1;

    svg {
      height: 2em;
      width: 2em;
    }
  }

  @media (--laptop) {
    --size: 70px;
    --top: 25%;

    &:visited {
      background-color: var(--blue-700);
    }

    &:hover {
      background-color: var(--grey-700);
    }
  }

  @media (--desktop) {
    --top: 34%;
  }
}

.glide__arrow--left {
  left: 0;
}

.glide__arrow--right {
  right: 0;
}

.glide__bullets {
  bottom: 0;
  display: inline-flex;
  height: 16px;
  justify-content: center;
  margin-inline: auto;
  position: absolute;
  top: 22%;
  transform: translateY(-22%);
  width: 100%;
  z-index: 2;

  @media (--tablet) {
    top: 38%;
    transform: translateY(-38%);
  }

  @media (--laptop) {
    top: 48%;
    transform: translateY(-48%);
  }

  @media (--desktop) {
    top: 60%;
    transform: translateY(-60%);
  }
}

.glide__bullet {
  background-color: var(--grey-500);
  border-radius: var(--radius-round);
  display: inline-block;
  height: 16px;
  margin-inline: 4px;
  transition: width 0.2s ease-in-out, background-color 0.2s ease-in-out;
  width: 16px;
}

.glide__bullet:hover {
  background-color: var(--blue-700);
}

.glide__bullet--active {
  background-color: var(--ucla-yellow);
  width: 32px;
}

.glide--swipeable {
  cursor: grab;
}

.glide--dragging {
  cursor: grabbing;
}
