<div class="claro-autocomplete">
  <input data-drupal-selector="" class="form-autocomplete form-text form-element form-element--type-text form-element--api-entity-autocomplete ui-autocomplete-input" data-autocomplete-path="" type="text" id="" name="" value="" size="60" maxlength="1024" placeholder="" data-once="autocomplete" autocomplete="off">
  <div class="claro-autocomplete__message hidden" data-drupal-selector="autocomplete-message">Loading…</div>
</div>
