{{ attach_library('surface/call-to-action') }}

<div class="call-to-action container{{ modifier ? ' ' ~ modifier : '' }}{{- attributes ? ' ' ~ attributes.class -}}" {{- attributes ? attributes|without(class) -}}>
  <div class="call-to-action__container">
    {% if title %}
      {% include "@components/title/title.twig" with {
        "title": title,
      } only %}
    {% endif %}

    {% if cta %}
      {% include "@components/button-track/button-track.twig" with {
        'action': cta.action,
        'category': cta.category,
        'label': cta.label,
        'modifier': cta.modifier,
        'text': cta.text,
        'url': cta.url,
      } only %}
    {% endif %}
  </div>
</div>
