{#
/**
 * @file maintenance-page.html.twig
 *
 * Displayed when the site is in maintenance mode.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
<div class="site-container">
  <header class="site-header" role="banner">
    <div class="site-header__container">
      <a href="/" rel="home" class="site-header__logo">
        VT<span>Students</span>First
      </a>
    </div>
  </header>

  <main id="main-content" role="main" class="maintenance-page">
    {% if page.highlighted %}
      {{ page.highlighted }}
    {% endif %}

    <div class="maintenance-page__inner">
      {% if title %}
        <h1 class="maintenance-page__title">{{ title }}</h1>
      {% endif %}
      <div class="prose">
        {{ page.content }}
      </div>
    </div>
  </main>
</div>
